[Unit]
Description=nsdocker Socket for the API
PartOf=nsdocker.service

[Socket]
ListenStream=/var/run/docker.sock
SocketMode=0660
SocketUser=root
SocketGroup=docker

[Install]
WantedBy=sockets.target
